.container {
    background-color: bisque;
    display: flex;
    flex-direction: row;

    justify-content: center;
    align-items: center;

    height: 100vh;
}

.item {
    width: 200px;
    height: 200px;
    background-color: blue;
    color: white;
    font-size: 32px;
    border: 2px solid black;


    display: flex;
    justify-content: center;
    align-items: center;
}